h1{
    color: black;
}
.all-heading{
    color: orange;
}
.heading-1{
    color: blue;
}
p{
    counter-reset: rgb(2, 2, 10);
}
.all-button{
    color: whitesmoke;
    background-color: tomato;
    border: none;
}